/* Font Falilly  */


body{
    font-family: 'Inter', sans-serif;
    background: #F4F7FE;
}

.s-feild-error{
    text-align: left;
    color: #ff0000;
    font-size: 12px;
  }

img {
    max-width: 100%;
}